.wrapper {
  height: 100vh;
  background-color: #36454f;
}

.login-form {
  position: absolute;
  width: 400px;
  height: 600px;
  padding: 20px;
  border-radius: 5px;
  color: #ffa500;
  border: 1px solid rgb(216, 214, 214);
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  font-weight: 500;
}

.login-text {
  margin-bottom: 20px;
  text-align: center;
}

.submit {
  margin-top: 60%;
  background-color: #36454f;
}

.username,
.password {
  margin-top: 5%;
}
